.mainContentContainer {
    margin: 0 140px;
}

.addQuestionBtn {
    float: right;
    margin-top: 20px;
}

.tabs {
    padding-top: 100px;
}

.questionFlex {
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editQAIcon,
.deleteQAIcon,
.bookmarkQAIcon,
.removeBookmarkIcon {
    cursor: pointer;
    transform: scale(0.9);
}

.bookmarkedIcon {
    transform: scale(0.9);
}

.iconsDiv {
    float: right;
}

.tableDiv {
    margin: 40px 0 40px 0;
}

.ansImageDiv {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.ansImageDiv img {
    height: 300px;
    width: 300px;
}

.modalinnerwrapper {
    padding: 20px;
    min-width: 300px;
}

.headerText {
    font-weight: bold;
    font-size: 20px;
    opacity: 0.7;
    margin-top: -5px;
}

.modalactionsection {
    text-align: center;
}

.modalactionsection button {
    margin: 10px 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.codeBlock {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
}

.code {
    font-size: 20px;
    font-weight: bold;
}

.textField div fieldset {
    border: 1px solid;
    background-color: #f7f9fa;
    border-radius: 26px;
    z-index: -100;
}

.textField div input {
    width: 400px;
    height: 15px;
}

.searchIcon {
    z-index: 100;
    cursor: pointer;
}

.clearIcon {
    z-index: 100;
    cursor: pointer;
}

.searchIconDisabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.searchBar {
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}