.container {
  width: 100%;
}
.body {
  margin: 0 140px;
}
.imageSection {
  position: relative;
}
.imageSection h2 {
  position: absolute;
  top: 78px;
  left: 84px;
  color: white;
  font-weight: bold;
}
.imageSection p {
  position: absolute;
  top: 150px;
  left: 84px;
  color: white;
  font-weight: bold;
}
.imageSection img {
  width: 100%;
  height: 400px;
}
.categories {
  margin-top: 20px;
}
.categoriesText {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -.016rem;
  max-width: 36em;
  margin-bottom: 20px;
}
.tabImage {
  width: 50px;
  height: 50px;
  mix-blend-mode: multiply;
}
.grid {
  display: grid;
  width: 114rem;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  height: fit-content;
  margin-bottom: 50px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.activeCard {
  display: flex;
  flex-direction: column;
  background-color: #dededd;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  height: fit-content;
  margin-bottom: 50px;
  width: 90%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.topicCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  height: 344px;
  margin-bottom: 50px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageDiv {
  width: 100%;
  height: 78px;
}
.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.activeCard:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.card__img {
  display: block;
  width: 100%;
  height: 5rem;
  object-fit: cover;
}
.card__content {
  padding: 3rem 1rem 0rem 1rem;
}
.category_card__content {
  padding: 0rem 1rem;
}
.categoryCard__desc {
  font-size: 0.8rem;
  font-weight: 600;
  color: #0d0d0d;
  text-align: center;
  margin-top: 0px;
  height: 120px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.dot {
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
}
.card__header {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0d0d0d;
  text-align: center;
  text-wrap: nowrap;
}
.topicCard__header {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0d0d0d;
  text-align: center;
}
.card__text {
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin: 10px 10px;
  float: right;
}
.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.card__textWrapper {
  max-height: 200px;
  overflow: auto;
  padding: 0px 5px;
  font-size: 13px;
}
/* .cardFlex {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
} */
.topicCardFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 6px;
}
.listFlex {
  display: flex;
  align-items: center;
  gap: 20px;
}
.listData {
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 20px;
  background: #ededed;
  font-weight: 700;
  cursor: pointer;
}
.activeListData {
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 20px;
  background: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.topicsError {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.modalinnerwrapper {
  padding: 20px;
  min-width: 300px;
}
.headerText{
  font-weight: bold;
  font-size: 20px;
  opacity: 0.7;
  margin-top: -5px;
}
.modalactionsection {
  text-align: center;
}
.modalactionsection button {
  margin: 10px 10px;
}
.okButton{
  text-transform: initial;
  background-color: rgb(40, 108, 226);
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 13px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  pointer-events: auto;
  border: none;
}
.errorMessage {
  font-weight: bold;
  color: #514e4e;
  font-size: 19px;
}
.topicCard__desc {
  font-size: 0.8rem;
  font-weight: 600;
  color: #0d0d0d;
  text-align: center;
  margin-top: 0px;
  height: 85px;
  overflow: hidden;
}
.modalinnerwrapperTitleEdit {
  padding: 20px;
  width: 400px;
}
.editTopicDescInput {
  width: 100%;
}
.modelContent {
  padding-top: 0px !important;
}
.currentLabel {
  padding-right: 31px;
}
.changeToLabel {
  padding-right: 10px;
}
.changeTo {
  margin-top: 10px;
}
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}  
.image {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.descriptionImage {
  height: 100px;
  width: 180px;
}
.uploadBtnContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.imageUploadBtn {
  margin-top: -10px;
}
.uploadInput {
  width: 100%;
}
.uploadBtn {
  background: lightblue;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
.uploadBtn:disabled {
  cursor: not-allowed;
}
.imageDelete {
  display: block;
  background: #f27f97;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.uploadErrorAlert {
  margin-top: 10px;
}
.cardIcons {
  display: flex;
  width: 100%;
  justify-content: end;
}
.addTopicBtn {
  float: right;
  margin-bottom: 10px;
}
.addCategoryBtn {
  float: right;
}
.hideDataContainer {
  padding: 5px 10px 10px 20px;
  width: 600px;
}
.elementContainer {
  margin-top: 20px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;
  height: 320px;
}
.elementContainer h5 {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.elementContainer p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  height: 130px;
  overflow-y: hidden;
}
.elementContainer img {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.itemsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.elementButton {
  text-align: center;
  padding-top: 20px;
}