.swiper {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 9rem !important;
  object-fit: fill !important;
  mix-blend-mode: multiply !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  margin-top: -50px !important;
  transform: scale(0.32) !important;
}

.swiper-button-next:after {
  margin-left: 17px !important;
  border: 1px solid black !important;
  padding: 15px 23px !important;
  border-radius: 50% !important;
  background: black !important;
  color: white !important;
}

.swiper-button-prev:after {
  margin-left: -16px !important;
  border: 1px solid black !important;
  padding: 15px 23px !important;
  border-radius: 50% !important;
  background: black !important;
  color: white !important;
}